<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bucket List</title>
</head>
<body>

    <header>
        <h1>{{ user.name }}'s Travel Bucket List</h1>
        <h3>Where to next...?</h3>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/add_destination">Add Destination</a>
                </li>
                <li>
                    <a href="/delete_destination">Delete Destination</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        {% block content %}
            
        {% endblock %}

    </main>
    <footer>
        <h3>Travel Bucket List</h3>
        <h4>All the destinations you have visited and want to visit in one place.</h4>
    </footer>

</body>
</html>